<template name="footer">
<div class="row">
	<div class='text-left col-sm-2'>
		<div class="fb-like" data-href="http://lexis.meteor.com" data-width="100" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
	</div>
	<div class="text-right col-sm-10">
		Created with <i class="icon icon-heart"></i> by <a href="http://www.shaniemor.com" data-bypass="true">Shanie</a> and <a href="http://www.grmmph.com" data-bypass="true">Yonatan</a>. Translation powered by <a href="http://translate.yandex.com/" data-bypass="true">Yandex.Translate</a>
	</div>
</div>
</template>