<template name="help">
<div class="small-container help">
	<h3>What is Lexis?</h3>
	<p>
		Lexis is a vocabulary cards generator for self practice. It is still a rough prototype, so be gentle with it.
	</p>
	<p>
		Are you studying a language and stuggle with vocabulary? Lexis is right for you! With Lexis you can create a collection of words in a foreign language and practice them at your own time.
	</p>

	<h3>How to create a Lexis-card?</h3>
	<p>
		Click on the "Add words" button at the top of the page. Then type the word you wish to create. It takes only a few seconds until you'll see the translation, then simply click on the "Add word to my list" button and.. Walla!
	</p>
	<p>
		After you've added words to you account, you can practice or modified them.
	</p>

	<h3>Which languages Lexis can translate?</h3>
	<p>
		At the moment, Lexis supports only German and English, but we will add more languages as soon as possible.
	</p>

	<h3>How does Lexis works?</h3>
	<p>
		Lexis built with <a href="https://www.meteor.com/" data-bypass="true">Meteor</a>, and the translation services are powered by <a href="http://translate.yandex.com/" data-bypass="true">Yandex.</a>
	</p>
</div>
</template>